branches/VS2013/MoodleQuestions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>TBD</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="name" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="questiontext" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="encoding" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="image" minOccurs="0"/>
              <xs:element type="xs:string" name="image_base64" minOccurs="0"/>
              <xs:element name="generalfeedback" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:float" name="defaultgrade" minOccurs="0"/>
              <xs:element type="xs:float" name="penalty" minOccurs="0"/>
              <xs:element type="xs:byte" name="hidden" minOccurs="0"/>
              <xs:element type="xs:string" name="single" minOccurs="0"/>
              <xs:element type="xs:string" name="shuffleanswers" minOccurs="0"/>
              <xs:element type="xs:string" name="answernumbering" minOccurs="0"/>
              <xs:element name="correctfeedback" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="partiallycorrectfeedback" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="incorrectfeedback" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="subquestion" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element name="answer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="usecase" minOccurs="0"/>
              <xs:element name="answer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element name="file" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="encoding" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feedback">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="format" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="tolerance" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:float" name="fraction" use="optional"/>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="unitgradingtype" minOccurs="0"/>
              <xs:element type="xs:float" name="unitpenalty" minOccurs="0"/>
              <xs:element type="xs:byte" name="showunits" minOccurs="0"/>
              <xs:element type="xs:byte" name="unitsleft" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>